version: "3.8"
services:
  traefik:
    image: traefik:v2.6.3
    container_name: traefik
    command:
      - "--certificatesResolvers.letsEncrypt.acme.email=${EMAIL}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yml:/etc/traefik/traefik.yml
      - ./config/provider.yml:/etc/traefik/provider.yml
      - ./.htpasswd:/etc/.htpasswd
      - ./data/acme:/etc/traefik/acme
      - ./data/log:/var/log/traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`${HOST}`)
      - traefik.http.routers.traefik.middlewares=auth@file
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.entrypoints=web
      - traefik.http.routers.traefikSecure.rule=Host(`${HOST}`)
      - traefik.http.routers.traefikSecure.middlewares=auth@file
      - traefik.http.routers.traefikSecure.service=api@internal
      - traefik.http.routers.traefikSecure.entrypoints=webSecure
      - traefik.http.routers.traefikSecure.tls.certresolver=letsEncrypt
    networks:
      - web
      - traefik
networks:
  web:
    external: true
  traefik:
    external: false
    name: traefik