version: "3.9"
services:
  traefik:
    image: traefik:v2.7.0
    container_name: traefik
    command:
      - "--certificatesResolvers.letsEncrypt.acme.email=${EMAIL}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yml:/etc/traefik/traefik.yml
      - ./config/provider.yml:/etc/traefik/provider.yml
      - ./.htpasswd:/etc/.htpasswd
      - ./data/acme:/etc/traefik/acme
      - ./data/log:/var/log/traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`${TRAEFIK}`)
      - traefik.http.routers.traefik.middlewares=auth@file
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.entrypoints=web
      - traefik.http.routers.traefikSecure.rule=Host(`${TRAEFIK}`)
      - traefik.http.routers.traefikSecure.middlewares=auth@file
      - traefik.http.routers.traefikSecure.service=api@internal
      - traefik.http.routers.traefikSecure.entrypoints=webSecure
      - traefik.http.routers.traefikSecure.tls.certresolver=letsEncrypt
    networks:
      - web
      - traefik
  jaeger:
    image: jaegertracing/all-in-one:1.35.1
    container_name: jaeger
    environment:
      COLLECTOR_ZIPKIN_HTTP_PORT: 9411
    labels:
      - traefik.enable=true
      - traefik.http.routers.jaeger.rule=Host(`${JAEGER}`)
      - traefik.http.routers.jaeger.middlewares=auth@file
      - traefik.http.routers.jaeger.entrypoints=web
      - traefik.http.routers.jaegerSecure.rule=Host(`${JAEGER}`)
      - traefik.http.routers.jaegerSecure.middlewares=auth@file
      - traefik.http.routers.jaegerSecure.entrypoints=webSecure
      - traefik.http.routers.jaegerSecure.tls.certresolver=letsEncrypt
      - traefik.http.services.jaeger.loadbalancer.server.port=16686
    networks:
      - traefik
      - jaeger
    expose:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "14268:14268"
      - "9411:9411"
  whoami:
    image: traefik/whoami:v1.8.0
    container_name: whoami
    labels:
      - traefik.enable=true
      - traefik.http.routers.whoami.rule=Host(`${WHOAMI}`)
      - traefik.http.routers.whoami.middlewares=auth@file
      - traefik.http.routers.whoami.entrypoints=web
      - traefik.http.routers.whoamiSecure.rule=Host(`${WHOAMI}`)
      - traefik.http.routers.whoamiSecure.middlewares=auth@file
      - traefik.http.routers.whoamiSecure.entrypoints=webSecure
      - traefik.http.routers.whoamiSecure.tls.certresolver=letsEncrypt
    networks:
      - traefik
networks:
  web:
    external: true
  traefik:
    external: false
    name: traefik
  jaeger:
    external: false
    name: jaeger